.THIS .b{
    font-size: 12px;
    color:white;
    background-color:gray;
    padding:8px;
    border-radius:25px;
    text-align: center;
}

.THIS .b1{
    width:150px;
}

.THIS .v{
    padding-left: 0.5%;
    padding-right: 0.5%;
}