/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */
body{
	background:#ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
.validate-required.woocommerce-invalid select{
	border-color: #b85f56;
	background: #f4e7e6
}
#top .wc-nav li.cart a:before {
    content:" ";
}
.NSTextGreen{
    color:#7cbc20;
}




.ctabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.ctab-links:after {
    display:block;
    clear:both;
    content:'';
}
.ctab-links{
	text-align:left;
	margin:0;
}
.ctab-links li {
    margin:0px 2px;
    //float:left;
    display:inline-block;
    list-style:none;
    text-decoration:none;
    background:#DFDFDF;
    border-radius:8px;
}

.ctab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    //background:#7FB5DA;
    font-size:14px;
    font-weight:300;
    //color:#4c4c4c;
    color: #777;
    transition:all linear 0.15s;
}

.ctab-links a:hover {
    background:#D4D6EE;
    text-decoration:none;
    border-radius:8px;
}

li.active a, li.active a:hover {
    background:#0E1AA3;
    //background:#fff;
    text-decoration:none;
    //color:#4c4c4c;
    color:#FFF;
    border-radius:8px;
}

a {
    text-decoration:none;
}

/*----- Content of Tabs -----*/
.ctab-content {
    padding:1px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}
 
.ctab {
    display:none;
}

.ctab.active {
    display:block;
}


@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
	#header{
		padding-bottom:0;
	}
	.ctabs{
		float:right;
		width:55%;
	}
	.single-product .summary {
		width: 55%;
	}
	.productDetailRecentlyViewed{
		width:40%;
		float:left;
	}
}