.THIS .Widebutton {
    width: 100%;
    border-radius: 1.25em;
}

.THIS .slds-input {
    border-radius: 1.25em;
}


/* .THIS .slds-input:focus, .THIS .slds-input:active, .THIS .slds-input:required:focus{
    outline:0;
    border-color: white;
    box-shadow: 0 0 0 white;
} */