<apex:page showHeader="true" sidebar="true" standardController="Credit_Card__c" extensions="Credit_Card_Extension">
	<apex:sectionHeader title="Credit Card Edit" subtitle="New Credit Card"/>
	<apex:form >
		<apex:pageMessages />
		<apex:pageblock mode="edit" title="Credit Card Edit">
			<apex:pageBlockButtons >
				<apex:commandButton action="{!customSave}" value="Save"/>
				<apex:commandButton action="{!cancel}" value="Cancel"/>
			</apex:pageBlockButtons>
			<apex:pageBlockSection title="Information" columns="1" id="creditInfoSection">
				<apex:actionFunction name="updateName" action="{!setCreditCardName}" rerender="creditInfoSection" status="pageStatus"/>
				<apex:actionFunction name="checkCardType" action="{!checkCardType}" rerender="creditInfoSection" status="pageStatus"/>
				<apex:inputField value="{!Credit_Card__c.Name_on_Card__c}" onchange="updateName()"/>
				<apex:inputField value="{!Credit_Card__c.Card_Number__c}" onchange="checkCardType()"/>
				<apex:inputField value="{!Credit_Card__c.Card_Type__c}" onchange="updateName()"/>
				<apex:inputField value="{!Credit_Card__c.Expiration_Month__c}"/>
				<apex:inputField value="{!Credit_Card__c.Expiration_Year__c}"/>
				<apex:inputField value="{!Credit_Card__c.CVV__c}"/>
				<apex:inputField value="{!Credit_Card__c.Billing_Street__c}"/>

				<apex:inputField value="{!Credit_Card__c.Billing_City__c}"/>

				<apex:inputField value="{!Credit_Card__c.Billing_State__c}"/>

				<apex:inputField value="{!Credit_Card__c.Billing_Postal_Code__c}"/>

				<apex:inputField value="{!Credit_Card__c.Contact__c}" onchange="updateName()"/>

				<apex:inputField value="{!Credit_Card__c.Last_4__c}" onchange="updateName()"/>
				<apex:pageblocksectionItem >
					<apex:outputLabel value="{!$ObjectType.Credit_Card__c.fields.name.Label}"/>
					  <apex:outputPanel styleClass="requiredInput" layout="block" >
                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
								<apex:outputPanel >
									<apex:inputField value="{!Credit_Card__c.name}"/>
									<apex:actionStatus id="pageStatus">
									    <apex:facet name="start">
									        <apex:outputPanel >
									            <img src="/img/loading.gif" width="25" height="25" />
									            <apex:outputLabel value="Loading..."/>
									        </apex:outputPanel>            
									    </apex:facet>
									</apex:actionStatus>
								</apex:outputPanel>						
						</apex:outputPanel>
				</apex:pageblocksectionItem>


				
			</apex:pageBlockSection>
		</apex:pageblock>
		
	</apex:form>
	
</apex:page>