<!-- Developed by Devansh -->
<apex:page controller="pass1" sidebar="false" showHeader="false" docType="html-5.0">
    
    <apex:pageMessages id="showmsg"></apex:pageMessages>
    <html>
        <c:ThemeComponent />
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        </head>
        <body class="template-customers-login" ontouchstart="return true;" data-transitions="true" data-animate_underlines="true"
        data-animate_images="true" data-button_style="round" data-type_product_capitalize="false" data-type_header_capitalize="true"
        data-product_image_scatter="false" data-button_type_style="normal">
        <div id="OverscrollLoader" class="overscroll-loader" aria-hidden="true">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--full-color icon-loader--full-color">
                <path class="icon-loader__close" d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
                <path class="icon-loader__path" d="M40 90a40 40 0 1 1 20 0" />
            </svg>
        </div>

        <div class="root">
            <script>window.setTimeout(function () { document.body.className += " loaded"; }, 25);</script>
            <div class="splash-screen">
                <div class="splash-screen__loader">
                    <img class="loader-logo__img" src="https://chicago.naturesselectpetfood.com/app/ns/assets/addons/shared/ns/nselect-theme/resources/img/logos/logo-blue.png?v=1590552490"
                        aria-hidden="true" />
                </div>
            </div>

            <a class="in-page-link visually-hidden skip-link" href="#MainContent">Skip to content</a>

            <div id="PageContainer" class="page-container">
                <div class="transition-body">
                    <div id="shopify-section-header" class="shopify-section">
                        <div class="slide-nav__overflow slide-nav__overflow--thumb">
                            <nav class="slide-nav__wrapper">
                                <ul id="SlideNav" class="slide-nav">

                                    <li class="slide-nav__item border-bottom">
                                        <a href="/" class="slide-nav__link">
                                            Home
                                        </a>
                                    </li>
                                    <li class="slide-nav__item">
                                        <button type="button" class="js-toggle-submenu slide-nav__link" data-target="shop1" data-level="1">
                                            Shop
                                            <span class="slide-nav__icon">
                                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98">
                                                    <path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"
                                                    />
                                                </svg>
                                                <span class="icon__fallback-text">Expand submenu</span>
                                            </span>
                                        </button>
                                        <ul class="slide-nav__dropdown" data-parent="shop1" data-level="2">
                                            <li class="slide-nav__item border-bottom">
                                                <div class="slide-nav__table">
                                                    <div class="slide-nav__table-cell slide-nav__return">
                                                        <button class="js-toggle-submenu slide-nav__return-bn" type="button">
                                                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98">
                                                                <path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"
                                                                />
                                                            </svg>
                                                            <span class="icon__fallback-text">Collapse submenu</span>
                                                        </button>
                                                    </div>
                                                    <a href="/collections/all" class="slide-nav__sublist-link slide-nav__sublist-header">
                                                        Shop
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="slide-nav__item border-bottom">
                                                <a href="/collections/leggings" class="slide-nav__sublist-link">
                                                    Leggings
                                                </a>
                                            </li>
                                            <li class="slide-nav__item border-bottom">
                                                <a href="/collections/tops" class="slide-nav__sublist-link">
                                                    Tops
                                                </a>
                                            </li>
                                            <li class="slide-nav__item border-bottom">
                                                <a href="/collections/bras" class="slide-nav__sublist-link">
                                                    Bras
                                                </a>
                                            </li>
                                            <li class="slide-nav__item border-bottom">
                                                <a href="/collections/outerwear" class="slide-nav__sublist-link">
                                                    Outerwear
                                                </a>
                                            </li>
                                            <li class="slide-nav__item">
                                                <a href="/collections/all" class="slide-nav__sublist-link">
                                                    All
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide-nav__item">
                                        <button type="button" class="js-toggle-submenu slide-nav__link" data-target="lookbook2" data-level="1">
                                            Lookbook
                                            <span class="slide-nav__icon">
                                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98">
                                                    <path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"
                                                    />
                                                </svg>
                                                <span class="icon__fallback-text">Expand submenu</span>
                                            </span>
                                        </button>
                                        <ul class="slide-nav__dropdown" data-parent="lookbook2" data-level="2">
                                            <li class="slide-nav__item border-bottom">
                                                <div class="slide-nav__table">
                                                    <div class="slide-nav__table-cell slide-nav__return">
                                                        <button class="js-toggle-submenu slide-nav__return-bn" type="button">
                                                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98">
                                                                <path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"
                                                                />
                                                            </svg>
                                                            <span class="icon__fallback-text">Collapse submenu</span>
                                                        </button>
                                                    </div>
                                                    <a href="/blogs/news" class="slide-nav__sublist-link slide-nav__sublist-header">
                                                        Lookbook
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="slide-nav__item border-bottom">
                                                <a href="/blogs/news/spring-summer-2019" class="slide-nav__sublist-link">
                                                    Spring 2019
                                                </a>
                                            </li>
                                            <li class="slide-nav__item">
                                                <a href="/blogs/news/fall-winter-2018" class="slide-nav__sublist-link">
                                                    Fall 2018
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide-nav__item">
                                        <button type="button" class="js-toggle-submenu slide-nav__link" data-target="about3" data-level="1">
                                            About
                                            <span class="slide-nav__icon">
                                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98">
                                                    <path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"
                                                    />
                                                </svg>
                                                <span class="icon__fallback-text">Expand submenu</span>
                                            </span>
                                        </button>
                                        <ul class="slide-nav__dropdown" data-parent="about3" data-level="2">
                                            <li class="slide-nav__item border-bottom">
                                                <div class="slide-nav__table">
                                                    <div class="slide-nav__table-cell slide-nav__return">
                                                        <button class="js-toggle-submenu slide-nav__return-bn" type="button">
                                                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98">
                                                                <path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"
                                                                />
                                                            </svg>
                                                            <span class="icon__fallback-text">Collapse submenu</span>
                                                        </button>
                                                    </div>
                                                    <a href="/pages/about" class="slide-nav__sublist-link slide-nav__sublist-header">
                                                        About
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="slide-nav__item border-bottom">
                                                <a href="/pages/about" class="slide-nav__sublist-link">
                                                    Our story
                                                </a>
                                            </li>
                                            <li class="slide-nav__item">
                                                <a href="/blogs/training-ideas" class="slide-nav__sublist-link">
                                                    Training ideas
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide-nav__item medium-up--hide">
                                        <a href="/account" class="slide-nav__link">Log in
                                        </a>
                                    </li>
                                    <li class="slide-nav__item medium-up--hide">
                                        <a href="/search" class="slide-nav__link js-modal-open-search-modal js-no-transition">
                                            Search
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="StickyCart" class="sticky-cart">
                            <a href="/cart" id="StickyItems" class="sticky-cart__item">0 items</a>
                            <span id="StickySubtotal" class="sticky-cart__item">$0</span>
                            <button type="submit" name="checkout" id="StickySubmit" styleclass="bn sticky-cart__item">
                                <span>Check out</span>
                            </button>
                        </div>
                    </div>
                    <div data-section-id="header" data-section-type="header-section">
                        <div data-header-style="button" class="header-wrapper">
                            <div class="announcement">
                                <div class="announcement__wrapper">
                                    <div class="announcement__text" data-text="save-an-extra-15-on-orders-over-100">
                                        Save an extra 15% on orders over $100
                                    </div>
                                </div>
                            </div>

                            <header class="site-header small--hide" data-overlay="false">
                                <div class="page-width">
                                    <div class="header-layout header-layout--right header-layout--mobile-logo-only" data-logo-align="left-right">
                                        <div class="header-item header-item--logo">

                                            <div class="h1 site-header__logo" itemtype="http://schema.org/Organization">
                                                <a href="/" itemprop="url" class="site-header__logo-link logo--has-inverted">
                                                    <img class="small--hide" src="https://chicago.naturesselectpetfood.com/app/ns/assets/addons/shared/ns/nselect-theme/resources/img/logos/logo-blue.png?v=1590552490"
                                                        alt="Streamline Theme — Core" itemprop="logo" />
                                                    <img class="medium-up--hide" src="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-black_90x.png?v=1559660716"
                                                        srcset="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-black_90x.png?v=1559660716 1x, //cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-black_90x@2x.png?v=1559660716 2x"
                                                        alt="Streamline Theme — Core" />
                                                </a>
                                                <a href="/" itemprop="url" class="site-header__logo-link logo--inverted">
                                                    <img class="small--hide" src="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x.png?v=1559660735" srcset="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x.png?v=1559660735 1x, //cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x@2x.png?v=1559660735 2x"
                                                        alt="Streamline Theme — Core" itemprop="logo" />
                                                    <img class="medium-up--hide" src="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x.png?v=1559660735"
                                                        srcset="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x.png?v=1559660735 1x, //cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x@2x.png?v=1559660735 2x"
                                                        alt="Streamline Theme — Core" />
                                                </a>
                                            </div>
                                        </div>
                                        <div role="navigation" aria-label="Primary" class="header-item header-item--navigation text-right small--hide">
                                            <ul class="site-nav site-navigation small--hide">
                                                <li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown" aria-haspopup="true">

                                                    <a href="/collections/all" class="site-nav__link site-nav__link--has-dropdown">
                                                        Shop
                                                    </a>
                                                    <ul class="site-nav__dropdown text-left">
                                                        <li class="">
                                                            <a href="/collections/leggings" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                Leggings
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="/collections/tops" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                Tops
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="/collections/bras" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                Bras
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="/collections/outerwear" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                Outerwear
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="/collections/all" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                All
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown" aria-haspopup="true">

                                                    <a href="/blogs/news" class="site-nav__link site-nav__link--has-dropdown">
                                                        Lookbook
                                                    </a>
                                                    <ul class="site-nav__dropdown text-left">
                                                        <li class="">
                                                            <a href="/blogs/news/spring-summer-2019" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                Spring 2019
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="/blogs/news/fall-winter-2018" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                Fall 2018
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown" aria-haspopup="true">

                                                    <a href="/pages/about" class="site-nav__link site-nav__link--has-dropdown">
                                                        About
                                                    </a>
                                                    <ul class="site-nav__dropdown text-left">
                                                        <li class="">
                                                            <a href="/pages/about" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                Our story
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="/blogs/training-ideas" class="site-nav__dropdown-link site-nav__dropdown-link--second-level">
                                                                Training ideas
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="site-nav__item site-nav__expanded-item">

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="header-item header-item--icons small--hide">
                                            <div class="site-nav site-nav--icons">
                                                <div class="site-nav__icons">

                                                    <span class="icon__fallback-text">Menu</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                        </div>
                        <div class="site-nav__thumb-menu site-nav__thumb-menu--inactive">
                            <button type="button" class="bn site-nav__thumb-button js-toggle-slide-nav">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64">
                                    <path d="M7 15h51M7 32h43M7 49h51" />
                                </svg>
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
                                    <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
                                </svg>
                                <span class="icon-menu-label">Menu</span>
                            </button>

                            <a href="/cart" class="site-nav__thumb-cart js-drawer-open-cart js-no-transition" aria-controls="CartDrawer" data-icon="bag">
                                <span class="cart-link">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64">
                                        <g fill="none" stroke="#000" stroke-width="2">
                                            <path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20" />
                                            <path d="M14.74 18h36.51l3.59 36.73h-43.7z" />
                                        </g>
                                    </svg>
                                    <span class="icon__fallback-text">Cart</span>
                                    <span class="cart-link__bubble">
                                        <span class="cart-link__count" aria-hidden="true">
                                            0
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <main class="main-content" id="MainContent">
                <div class="page-width page-content">
                    <div class="grid">

                        <div class="grid__item medium-up--one-third medium-up--push-one-third">

                            <header class="section-header">
                                <h1 class="section-header__title">
                                    Forgot Password
                                </h1>
                            </header>

                            <div id="CustomerLoginForm" class="form-vertical">
                                 
                                <apex:form id="formUpdate">
                                    <div style="color: red; margin-left: 95px;">
                                        <h5>{!PageMsg}</h5>
                                    </div>
                                    <div style="color:green; margin-left: 95px;">
                                        <h5>{!EmailSuccess}</h5>
                                    </div>
                                    <br></br>
                                    <label for="CustomerEmail">Email
                                    </label>
                                    <apex:inputText styleclass="input-full" value="{!Email}" id="Email"/>
                                    <p>
                                        <apex:commandButton styleclass="bn bn--full" value="Reset Password" action="{!Sent}" reRender="formUpdate"/>
                                    </p>
                                </apex:form>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <div id="VideoModal" class="modal modal--solid">
            <div class="modal__inner">
                <div class="modal__centered page-width text-center">
                    <div class="modal__centered-content">
                        <div class="video-wrapper video-wrapper--modal">
                            <div id="VideoHolder"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div id="ProductScreens"></div>
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
            </div>
        </div>
        </body>
    </html>
    
    
</apex:page>