<apex:page showHeader="false" standardStyleSheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false"  docType="html-5.0" controller="cart_mainSiteTemplateController" id="maintemplatepage" cache="false">
    <html lang="en-US" class=" ">
        <head>
            <meta charset="UTF-8" />
            <title>
                 <apex:insert name="pageTitle">
                 </apex:insert>
             </title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

            <apex:stylesheet value="{!URLFOR($Resource.Cart_Resources,'DropDown/css/bootstrap-responsive.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.Cart_Resources,'DropDown/css/bootstrap.css')}"/>
            <apex:includescript value="{!URLFOR($Resource.Cart_Resources,'DropDown/js/jquery-1.9.1.min.js')}"/>
            <script src="{!URLFOR($Resource.Cart_Resources,'DropDown/jquery.menu-aim.js')}"/>
            <script src="{!URLFOR($Resource.Cart_Resources,'DropDown/js/bootstrap.min.js')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.Cart_Resources,'Template/style.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.Cart_Resources,'Template/css/layout.css')}"/>

            <link rel="alternate" type="application/rss+xml"  title="New products" href="http://demo2.woothemes.com/mystile/shop/feed/" />
            <!-- Theme version -->
            <meta name="generator" content="Mystile 1.3.0" />
            <meta name="generator" content="WooFramework 5.5.5" />

            <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

            <!--  Mobile viewport scale | Disable user zooming as the layout is optimised -->
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
            <!--[if lt IE 9]>
            <script src="http://demo2.woothemes.com/mystile/wp-content/themes/mystile/includes/js/respond-IE.js"></script>
            <![endif]-->
            <!--[if lte IE 8]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <!-- Google Webfonts -->
            <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:r,i,b,bi|Schoolbell" rel="stylesheet" type="text/css" />

            <!-- Alt Stylesheet -->

            <!-- Options Panel Custom CSS -->
            <style type="text/css">
                #logo img { display:none; } .site-title { display:block !important; }
                .site-description { display:block !important; }
            </style>


            <!-- Woo Shortcodes CSS -->
            <!-- <link href="http://demo2.woothemes.com/mystile/wp-content/themes/mystile/functions/css/shortcodes.css" rel="stylesheet" type="text/css" /> -->
            <link href="{!URLFOR($Resource.Cart_Resources,'Template/shortcodes.css')}" rel="stylesheet" type="text/css" />

            <!-- Custom Stylesheet -->
            <!-- <link href="http://demo2.woothemes.com/mystile/wp-content/themes/mystile/custom.css" rel="stylesheet" type="text/css" /> -->
            <apex:stylesheet value="{!URLFOR($Resource.Cart_Resources,'Template/custom.css')}"/>
            <!-- inline styles need to be added to file -->
            <apex:stylesheet value="{!URLFOR($Resource.fonts,'fonts/icomoon/style.css')}" />
            <style>
                #top{
                    padding-left:0;
                }
                #top .col-full{
                    max-width:100%;
                }
                .LargeSearchBox{
                    max-width:75.998em;
                    margin:0 auto;
                    width:100%;
                }
                .LargeSearchBox .quick-search{
                    float:left;
                    width:75%;
                }
                @media only screen and (max-width: 1025px) {
                    .LargeSearchBox .quick-search{
                        width:100%;
                    }
                }
                #top ul.nav > li a.button:hover{
                    text-decoration: none;
                    background-color: #ff5911;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5911), to(#ee3700));
                    background-image: -webkit-linear-gradient(top, #ff5911, #ee3700);
                    background-image: -moz-linear-gradient(top, #ff5911, #ee3700);
                    background-image: -ms-linear-gradient(top, #ff5911, #ee3700);
                    background-image: -o-linear-gradient(top, #ff5911, #ee3700);
                    background-image: linear-gradient(to bottom, #ff5911, #ee3700);
                }
                #top ul.nav > li a.button{
                    display: inline-block;
                    padding: .236em .857em;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    font-size: 1em;
                    font-family: inherit;
                    cursor: pointer;
                    overflow: visible;
                    width: auto;
                    line-height: 1.618em;
                    margin: 0 .327em;
                    -webkit-font-smoothing: subpixel-antialiased;
                    font-weight: bold;
                    text-shadow: 0 1px 0 #cc1500;
                    webkit-box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px #FFB863, inset 0 -1px #A6610F;
                    box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px #FFB863, inset 0 -1px #A6610F;
                    background-color: #FFA02F;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA02F), to(#BF8A4A));
                    background-image: -webkit-linear-gradient(top, #FFA02F, #BF8A4A);
                    background-image: -moz-linear-gradient(top, #FFA02F, #BF8A4A);
                    background-image: -ms-linear-gradient(top, #FFA02F, #BF8A4A);
                    background-image: -o-linear-gradient(top, #FFA02F, #BF8A4A);
                    background-image: linear-gradient(to bottom, #FFA02F, #BF8A4A);
                    margin: 1.2em 1em;
                }
                .LargeSearchBox .search-input{
                    font-size: 15px;
                    font-weight: normal;
                    height: 31px;
                    line-height: 31px;
                    border: 0;
                    box-sizing: border-box;
                    padding: 0 0 0 8px;
                    vertical-align: middle;
                    width: 100%;
                }
                .LargeSearchBox .inner-container{
                    border:3px solid #77AED5;
                    padding-right:83px;
                }
                .LargeSearchBox .outer-container{
                    border:1px solid #0269B3;
                }
                .LargeSearchBox .secondary-submit{
                    position:relative;
                    float:right;
                    top:3px;
                }
                .LargeSearchBox .shopping-cart{
                    float: right;
                    display: inline-block;
                    height: 38px;
                    margin: 0;
                    position: relative;
                    border:1px solid;
                    width:247px;
                    font-size:.85em;
                }
                .LargeSearchBox .shopping-cart .shopping-cart-box{

                }
                .LargeSearchBox .shopping-cart .shopping-cart-box .shopping-cart-header{
                    position:relative;
                    top:-12px;
                }
                .LargeSearchBox .shopping-cart .shopping-cart-box .shopping-cart-header ul{
                    list-style:none;
                    text-align:center;
                }
                .LargeSearchBox .shopping-cart .shopping-cart-box .shopping-cart-header ul .text{
                    background:white;
                }
                #quick-search-1>form{
                    margin-bottom:0.7em;
                }
                .woo-pagination{
                    display:block;
                }
                .companyContactTop h6{
                    font-size:1.3em;
                }
            </style>
            <!--  drop down style -->
            <style>
                #nav ul .dropdown-menu{
                    display:inherit;
                }
                #nav ul#shopByDepartmentMenu li{
                    position:static;
                }
                #nav ul#shopByDepartmentMenu .popover ul{
                    display:inherit;
                    margin:inherit;
                }
                #nav ul#shopByDepartmentMenu .popover ul .nav_tag{
                    padding-left:20px;
                    font-size:0.8em;
                }
                #nav ul#shopByDepartmentMenu  li a{
                    padding-left:20px;
                }
                .dropdown-menu .popover {
                    width: 400px;
                    -webkit-border-top-left-radius: 0px;
                    -webkit-border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    overflow: hidden;
                }
                .dropdown-menu .popover-content {
                    text-align: center;
                }
                .dropdown-menu .popover-content img {
                    height: 212px;
                    max-width: 250px;
                }
                .dropdown-menu {
                    -webkit-border-top-right-radius: 0px;
                    -webkit-border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                }
                .dropdown-menu > li > a:hover {
                    background-image: none;
                    color: white;
                    background-color: rgb(0, 129, 194);
                    background-color: rgba(0, 129, 194, 0.5);
                }
                .dropdown-menu > li > a.maintainHover {
                    color: white;
                    background-color: #f7f7f7;
                }
                ul.nav .dropdown-menu>li{
                    position:static;
                }
                .dropdown-menu .popover{
                    background-image:URL("{!URLFOR($Resource.Cart_Resources,'Images/navBackground1.png')}");
                    background-size:contain;
                    background-repeat:no-repeat;
                    min-width:550px;
                    background-position:right bottom;
                }
                .dropdown-menu .popover.odd{
                    background-image:URL("{!URLFOR($Resource.Cart_Resources,'Images/navBackground2.png')}");
                }
                #top ul.nav .dropdown-menu{
                    min-height:469px;
                    background:white;
                }
                .breadcrumbs{
                    background:transparent;
                }
                #breadcrumbs{
                    padding-bottom:0;
                }
                /* columns */
                .row-wrapper-x .column_container{
                    width:33%;
                    margin:0;
                    padding:0;
                    float:left;
                }
                /* input override*/
                a.button, a.comment-reply-link, #commentform #submit, .submit, input[type=submit], input.button, button.button {
                    webkit-box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px #FFB863, inset 0 -1px #A6610F;
                    box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px #FFB863, inset 0 -1px #A6610F;
                    background-color: #FFA02F;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA02F), to(#BF8A4A));
                    background-image: -webkit-linear-gradient(top, #FFA02F, #BF8A4A);
                    background-image: -moz-linear-gradient(top, #FFA02F, #BF8A4A);
                    background-image: -ms-linear-gradient(top, #FFA02F, #BF8A4A);
                    background-image: -o-linear-gradient(top, #FFA02F, #BF8A4A);
                    background-image: linear-gradient(to bottom, #FFA02F, #BF8A4A);
                }
            </style>
            <script>
                var $menu;
                $(document).ready(function(){
                // $menu=$(".dropdown-menu");
                $menu=$("#shopByDepartmentMenu");
                // jQuery-menu-aim: <meaningful part of the example>
                // Hook up events to be fired on menu row activation.
                $menu.menuAim({
                    activate: activateSubmenu,
                    deactivate: deactivateSubmenu
                });
            });
            // jQuery-menu-aim: </meaningful part of the example>

            // jQuery-menu-aim: the following JS is used to show and hide the submenu
            // contents. Again, this can be done in any number of ways. jQuery-menu-aim
            // doesn't care how you do this, it just fires the activate and deactivate
            // events at the right times so you know when to show and hide your submenus.
            function activateSubmenu(row) {

                var $row = $(row),
                    submenuId = $row.data("submenuId"),
                    $submenu = $("#" + submenuId),
                    submenuItemNumSubItems = $submenu[0].childNodes[3].childElementCount,
                    // height = $menu.outerHeight(),
                    width = $menu.outerWidth();

                var height;
                if(submenuItemNumSubItems > 8){
                    height = submenuItemNumSubItems * 66.125;
                }
                else{
                    height = 529;
                }

                // Show the submenu
                $submenu.css({
                    display: "block",
                    top: -1,
                    left: width - 3,  // main should overlay submenu
                    height: height  // padding for main dropdown's arrow  height: height - 4
                });

                // Keep the currently activated row's highlighted look
                $row.find("a").addClass("maintainHover");
            }

            function deactivateSubmenu(row) {
                var $row = $(row),
                    submenuId = $row.data("submenuId"),
                    $submenu = $("#" + submenuId);

                // Hide the submenu and remove the row's highlighted look
                $submenu.css("display", "none");
                $row.find("a").removeClass("maintainHover");
            }

            $(document).click(function() {
                // Simply hide the submenu on any click. Again, this is just a hacked
                // together menu/submenu structure to show the use of jQuery-menu-aim.
               hideMenu();
            });
            function hideMenu(){
                $(".popover").css("display", "none");
                $("a.maintainHover").removeClass("maintainHover");
                $('.menu-item').removeClass('open');
            }

            //Stop deactivate on a submenu click
            $('.dropdown-menu').bind('click', function(e) {
                e.stopPropagation();
            });
            //close menu when window is resized
            $(window).resize(function(){ hideMenu()})

            function refreshNavCart(){
                reloadComp();
            }
        </script>
        <apex:outputText value="{!customHeadHTML}" rendered="{!customHeadHTML!=null}" escape="false" />
        <apex:insert name="headExtension" />
    </head>
    <body>
        <div id="wrapper">
            <c:TopNav id="topnavcomponent"/>
                <header id="header" class="col-full">
                    <hgroup class="col-md-6 col-sm-6">
                        <c:Logo />
                        <!--  <h3 class="nav-toggle"><a href="#navigation">&#9776; <span>Navigation</span></a></h3>-->
                    </hgroup>
                    <div class="col-md-6 col-sm-6 alignright companyContactTop"><hr class="vertical-space" style="background-color:white;"/><h6><i class="icon-envelope"/> <a href="mailto:{!cartEmailAddress}">{!cartEmailAddress}</a></h6> <h6><i class="icon-phone"></i><a href="tel:{!$Organization.Phone}">{!$Organization.Phone}</a></h6></div>
                </header><!-- /#header -->
                <!--<c:NavBar /> -->
                

<!-- CONTENT -->
            <apex:insert name="bodyContent"/>
            </div>

        <apex:form >
            <apex:actionfunction name="reloadComp" rerender="topnavcomponent, cartText"/>
        </apex:form>
        <c:LiveChat />
        <site:googleAnalyticsTracking />
    </body>
</html>
</apex:page>