<apex:page showHeader="false" standardStyleSheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false"  docType="html-5.0" controller="cart_CatalogController">
  <apex:composition template="MainSiteTemplate">
    <apex:define name="headExtension">
      <!--  change body class -->
      <script>
        $(document).ready(function(){
        $('body').addClass("archive post-type-archive post-type-archive-product woocommerce woocommerce-page chrome alt-style-default layout-left-content layout-full");  
        }
        );
      </script>
      <style>
        #content .departmentBanner{
          position:relative;
          color:white;
        }
        #content .departmentBanner .bannerText{
          position:absolute;
          position: absolute;
          /* right: 0; */
          /* top: 20px; */
          z-index: 3;
          white-space: nowrap;
          min-height: 0px;
          min-width: 0px;
          line-height: 54px;
          border-width: 0px;
          margin: 0px;
          padding: 0px;
          letter-spacing: 0px;
          font-size: 92px;
          right: 5%;
          top: 33.048px;
          visibility: visible;
          opacity: 1;
          transition: all 0s ease 0s;
          -webkit-transition: all 0s ease 0s;
          -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
        }
        #content .departmentBanner #categorySubTitle{
          right:10%;
          top:115px;
          font-size:49px;
        }
        #content .subcategorylink{
          
        }
        
        .departmentlist{
          display:inline-block;
          list-style:none;
          vertical-align:top;
          margin:0 0 0 1.9em;
        }
        .departmentlist a{
          font-weight:normal;
        }
      
      </style>
      
       
      <link rel='stylesheet' id='rs-plugin-settings-css'  href="{!URLFOR($Resource.HomePageResources,'css/settings.css')}" type='text/css' media='all' />
      <link rel='stylesheet' id='rs-plugin-captions-css'  href="{!URLFOR($Resource.HomePageResources,'css/captions.php.css')}" type='text/css' media='all' />
      
      <script type='text/javascript' src="{!URLFOR($Resource.HomePageResources,'js/jquery.themepunch.plugins.min.js')}"></script>
      <script type='text/javascript' src="{!URLFOR($Resource.HomePageResources,'js/jquery.themepunch.revolution.min.js')}"></script>
      
      <link rel="stylesheet" href="{!URLFOR($Resource.HomePageResources,'css/icon-box.css')}" type='text/css' />
      <link rel="stylesheet" href="{!URLFOR($Resource.HomePageResources,'css/js_composer_front.css')}" type='text/css' />
      <link rel="stylesheet" href="{!URLFOR($Resource.HomePageResources,'css/background-style.css')}" type='text/css' />
      <link rel='stylesheet' id='ultimate-animate-css'  href="{!URLFOR($Resource.HomePageResources,'css/animate.css')}" type='text/css' media='all' />
      <link rel='stylesheet' id='ultimate-style-css'  href="{!URLFOR($Resource.HomePageResources,'css/style.css')}" type='text/css' media='all' />      
      <link rel='stylesheet' id='background-style-css'  href='http://naturalpetfooddelivery.com/nsd/chicago/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/css/background-style.css?ver=3.9' type='text/css' media='all' />
      
      <link rel='stylesheet' id='aio-flip-style-css'  href="{!URLFOR($Resource.HomePageResources,'css/flip-box.css')}" type='text/css' media='all' />
      <link rel='stylesheet' id='aio-tooltip-css'  href="{!URLFOR($Resource.HomePageResources,'css/tooltip.css')}" type='text/css' media='all' />
                  
      <link rel='stylesheet' id='woocomposer-front-css'  href="{!URLFOR($Resource.HomePageResources,'css/woocomposer/style.css')}" type='text/css' media='all' />
      <link rel='stylesheet' id='woocomposer-front-wooicon-css'  href="{!URLFOR($Resource.HomePageResources,'css/woocomposer/wooicon.css')}" type='text/css' media='all' />
      <link rel='stylesheet' id='woocomposer-front-slick-css'  href="{!URLFOR($Resource.HomePageResources,'css/slick.css')}" type='text/css' media='all' />
      <link rel='stylesheet' id='woocomposer-animate-css'  href="{!URLFOR($Resource.HomePageResources,'css/animate.css')}" type='text/css' media='all' />
      <link rel='stylesheet' id='swatchbook-css-css'  href="{!URLFOR($Resource.HomePageResources,'css/swatchbook.css')}" type='text/css' media='all' />
      <script type='text/javascript' src="{!URLFOR($Resource.HomePageResources,'js/unveil.js')}"></script>
      <script type='text/javascript' src="{!URLFOR($Resource.HomePageResources,'js/custom.js')}"></script>
      <script type='text/javascript' src="{!URLFOR($Resource.HomePageResources,'js/slick.js')}"></script>
      
    </apex:define>
    <apex:define name="pageTitle">
      Error | Nature's Select
    </apex:define>
    <apex:define name="bodyContent">
      <!-- Change to change # of results displayed per row -->
      <apex:variable var="resultsPerRow" value="{!4}"/>
      
      <!-- #content Starts -->
      <div id="content" class="col-full">


        <!-- #main Starts -->
        
        <!--/#breadcrumbs -->
        
        <div id="main" class="col-left">
              <p class="clearfix"/>
              <div style="margin:auto; text-align:center">
                <c:errorPageText />
              </div>
              <p class="clearfix"/>
                        
         
                
                <apex:outputpanel layout="none" id="departmentlist" rendered="{!department==null}">
              
                    <apex:repeat value="{!allDepartments}" var="dept">
                    
                      <ul class="departmentlist">
                        <h2><a href="/ShopByDepartment?category={!URLENCODE(dept.name)}">{!dept.name}</a></h2>
                        <apex:repeat value="{!dept.subcategories}"  var="subcat">
                          <li>
                            <p><a href="/ShopByDepartment?category={!URLENCODE(dept.name)}&subcategory={!URLENCODE(subcat)}">{!subcat}</a></p>
                          </li>
                        </apex:repeat>  
                        </ul>
                                  
                  </apex:repeat>
                  
                
                </apex:outputpanel>
                
                
                        </div>
                        <!-- /#main -->
                        
      </div> 
      <!-- /#content -->
    </apex:define>
  </apex:composition>

</apex:page>