<apex:component >
<c:websitecompo />
<html>
  <head>
    <style>
      h1{
        font-family: 'montserrat';
      }
    </style>
     </head>
     <body>
       <h1>Hey Devansh Was Here.</h1>
     </body>
</html>
  
</apex:component>