<apex:component >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <header class="site-header small--hide" data-overlay="true">
          <div class="page-width">
            <div class="header-layout header-layout--right header-layout--mobile-logo-only" data-logo-align="left-right">
              <div role="navigation" aria-label="Primary" class="header-item header-item--navigation text-right small--hide">
                <div class="header-item header-item--logo">
                  <div class="h1 site-header__logo" itemtype="http://schema.org/Organization">
                    <a href="/" itemprop="url" class="site-header__logo-link logo--has-inverted">
                      <img class="small--hide" src="https://chicago.naturesselectpetfood.com/app/ns/assets/addons/shared/ns/nselect-theme/resources/img/logos/logo-blue.png?v=1590552490"
                        alt="Streamline Theme — Core" itemprop="logo" />
                    </a>
                    <!-- <a href="/" itemprop="url" class="site-header__logo-link logo--inverted">
                      <img class="small--hide" src="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x.png?v=1559660735" srcset="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x.png?v=1559660735 1x, //cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x@2x.png?v=1559660735 2x"
                        alt="Streamline Theme — Core" itemprop="logo" />
                      <img class="medium-up--hide" src="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x.png?v=1559660735"
                        srcset="//cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x.png?v=1559660735 1x, //cdn.shopify.com/s/files/1/0076/0014/4466/files/logo-asana-white_90x@2x.png?v=1559660735 2x"
                        alt="Streamline Theme — Core" />
                    </a> -->
                  </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#ffffff!important">
                  <a class="navbar-brand" href="#"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
</apex:component>