<apex:component controller="ProductDisplayVfController">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        lang="en">
    <!--<apex:slds />-->
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"  crossorigin="anonymous"/>
    <apex:attribute type="String" name="ProductId" default="01t3t000004h62c" description="productId"/>
    <apex:attribute type="String" name="displaySize" default="" description="displaySize"/>
    <apex:attribute type="String" name="showStar" default="" description="showStar"/>
    <apex:attribute type="Product2" name="Product" description="Product" />
    <apex:form >
        <apex:actionFunction action="{!getData}" name="getData">
            <apex:param assignTo="{!ProductId}" value="{!ProductId}" />
        </apex:actionFunction>
        <style>
            .activeTab {
                font-size: 100%;
            }
            .rich-tab-header {
                font-size: 15px !important;
            }
            body {
                font-family: 'Roboto Condensed';
            }
            .slds-scope{
                font-family: 'Roboto Condensed';
            }
            .buttonclass{
                font-family: 'Roboto Condensed', sans-serif;
                /*text-transform: uppercase;*/
                outline: 0;
                width: 100%;
                border: 1px solid black!important;
                padding: 10px!important;
                color: black!important;
                background-size: 200% auto;
                transition: 0.5s ease!important;
                box-shadow: 0 0 20px #eee;
                cursor: pointer;
                font-weight:800;
                letter-spacing: 2px!important;
                font-size:20px!important;
                border-radius:28px!important;
            }
            body input[type]{
                margin-left:0px!important;
            }
            .slds-scope td{
                font-family:'Roboto Condensed', sans-serif;
            }
            @media all and (max-width:980px){
                .col-sm-12{
                    text-align:center;
                }
                .rate{
                    margin-left:28%;
                }
            }
        </style>
        
        <apex:repeat value="{!Product}" var="pro">

                <!-- Small Panel -->
            <!-- <apex:outputPanel rendered="{!IF(displaySize == 'Small',true,false)}">
                <div class="slds-box slds-card" style="margin: 1%; text-align: center;"> -->

                    <!-- Id: {!v.Product.Id}<br/> -->
                    <!-- <div style="border: 1px; width: 100%;">
                        <img src="{!pro.Slick__Full_size_image__c}" style="width: 100%;" />
                    </div> -->
                    <!-- component to show stars -->
                    <!-- <div class="slds-align_absolute-center">
                        <c:StarRatingVF value="3"/><br/><br/>
                    </div>
                   <span>
                        11 Reviews
                    </span><br/> 
                    <div>
                        <a href="" >{!pro.Name}</a>
                    </div>
                    <br/>
                    From: $1,000.00  -->
                    <!-- From: ${!v.Product.} -->
                <!-- </div>
            </apex:outputPanel> -->



            <!-- Small Page -->
            <apex:outputPanel rendered="{!IF(displaySize == 'Small',true,false)}">
                <div >

                    <!-- Id: {!v.Product.Id}<br/> -->
                    <div class="Product-Image">
                        <img src="{!pro.Slick__Full_size_image__c}" class="image"/>
                    </div>
                    <!-- component to show stars -->
                    <apex:outputPanel rendered="{!IF(showStar == 'True',true,false)}">
                    <div>
                        <c:StarRatingVF value="3"/><br/><br/>
                    </div>
                    </apex:outputPanel>
                  <!--  <span>
                        11 Reviews
                    </span><br/> -->
                    <div class="Product-Name">
                        <a href="" >{!pro.Name}</a>
                    </div>
                 <!--   <br/>
                    From: $1,000.00 -->
                    <!-- From: ${!v.Product.} -->
                </div>
            </apex:outputPanel>



            



            <!--Large Page-->
            <apex:outputPanel rendered="{!IF(displaySize == 'Large',true,false)}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                             <img src="{!pro.Full_size_image__c}" style="width: 100%;"/>
                        </div>    
                        <div class="col-sm-12 col-md-6">
                            
                                <div class="slds-col">
                            <a href="" style="font-size: 46px;font-style:italic">{!pro.Name}</a><br/>
                            <apex:outputPanel rendered="{!IF(showStar == 'True',true,false)}">
                                <div><c:StarRatingVF value="3"/> </div>
                            </apex:outputPanel>
                                <br/><br/><br/>
                              
                              <span>11 Reviews</span><br/>

                                <span style="font-size: 150%;">$19.99</span><br/>

                                <span style="font-size: 140%; color: red;"> BUY MORE / SAVE MORE </span><br/>
                                <span style="font-size: 140%;">FREE DELIVERY WITH $39.95 MIN ORDER</span>
                                <br/><br/> For over 25 years this has been our top-selling
                                product. Why? This chicken recipe is great for healthy
                                adult maintenance. <br/>Can be fed to dogs of all
                                life stages and all breeds.
                                <br/><br/> TYPES OF PRODUCTS<br/><br/>
                            </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                               <apex:commandButton styleclass="buttonclass" action="{!getData}" value="Add to cart" /><br/><br/>
                               <apex:commandButton styleclass="buttonclass" style="color:white!important;background-color:black" action="{!getData}" value="Buy it now" />
                            </div>
                    </div>
                </div>
            </apex:outputPanel>
                        
                
                

            <!-- Full Page -->
            <apex:outputPanel rendered="{!IF(displaySize == 'ExtraLarge',true,false)}">
                
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <img src="{!pro.Slick__Full_size_image__c}" style="width: 100%;" />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a href="" style="font-size: 46px;font-style:italic">{!pro.Name}</a><br/>

                            <apex:outputPanel rendered="{!IF(showStar == 'True',true,false)}">
                                <c:StarRatingVF value="3"/>
                            </apex:outputPanel>
                                <br/><br/><br/> 11 Reviews<br/>

                                <span style="font-size: 150%; color: red;">$19.99</span><br/>

                                <span style="font-size: 140%; color: red;"> BUY MORE / SAVE MORE </span><br/>
                                <span style="font-size: 140%;">FREE DELIVERY WITH $39.95 MIN ORDER</span>
                                <br/><br/> For over 25 years this has been our top-selling
                                product. Why? This chicken recipe is great for healthy
                                adult maintenance. <br/>Can be fed to dogs of all
                                life stages and all breeds.
                                <br/><br/> TYPES OF PRODUCTS<br/><br/>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <apex:commandButton styleclass="buttonclass" action="{!getData}" value="Add to cart" /><br/><br/>
                               <apex:commandButton styleclass="buttonclass" style="color:white!important;background-color:black" action="{!getData}" value="Buy it now" />
                        <!--    <div class="slds-grid slds-gutters">-->
                           
                        <!--    <div class="slds-col" style="width: 30%;">-->

                                <!-- Add More and Add to cart -->
                        <!--        <div style="width:100%;">-->
                        <!--            <div class="slds-grid slds-gutters">-->
                        <!--                <div class="slds-col">-->
                        <!--                    <span class="slds-icon_container slds-icon-utility-dash" title="Description of icon when needed">-->
                        <!--                        <svg aria-hidden="true" class="slds-icon_small">-->
                        <!--                            <use xmlns:xlink="http://www.w3.org/1999/xlink" -->
                        <!--                                xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#dash">-->
                        <!--                            </use>-->
                        <!--                        </svg>-->
                        <!--                    </span>-->
                        <!--                </div>-->
                        <!--                <div class="slds-col" style="text-align: center;">-->
                        <!--                    <apex:input style="text-align:center" />-->
                        <!--                </div>-->
                        <!--                <div class="slds-col">-->
                        <!--                    <span class="slds-icon_container slds-icon-utility-add" title="Description of icon when needed">-->
                        <!--                        <svg aria-hidden="true" class="slds-icon_small">-->
                        <!--                            <use xmlns:xlink="http://www.w3.org/1999/xlink"-->
                        <!--                            xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#add">-->
                        <!--                            </use>-->
                        <!--                        </svg>-->
                        <!--                    </span>-->
                        <!--                </div>-->
                        <!--            </div><br/><br/>-->
                        <!--            <button class="slds-button slds-button_brand slds-large-size_3-of-3"  style="width:100%">Add to Cart</button><br/><br/>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</div>-->
                        </div>
                    </div>
                    <div class="row" style="padding-top:20px">
                        <div class="col-sm-12 col-md-12">
                            <apex:tabPanel switchType="client" selectedTab="name2" id="theTabPanel" tabClass="activeTab">
                        <apex:tab label="OVERVIEW" name="name1" id="one">
                            <div style="text-align:justify;font-family: 'Roboto Condensed'">For over 25 years this has been our top-selling product. Why? Dogs love the flavor
                            of chicken and brown rice. Your dog deserves the absolute
                            best, which is why we only use fresh, all-natural, USA
                            sourced ingredients. Feel confident in feeding Nature’s
                            Select!--> What is Chicken Meal? Chicken meal is considered
                            a meat concentrate and contains nearly 300% MORE protein
                            than fresh chicken, which is why we use it in this recipe.
                            Why use chicken fat? It’s a pure fat to use as a quality
                            ingredient because it is high in linoleic acid and is
                            an omega-6 fatty acid that is essential to a pet’s life!
                            Why are we by-product free? By-Products &amp; poultry
                            by-products contain animal parts other than meat including
                            organs, brain, blood, bone, intestines, feet, etc. Nature’s
                            Select Recipes contain absolutely NO by-products in our
                            pet food.</div>
                        </apex:tab>
                        <apex:tab label="PRODUCT INFORMATION" name="two" id="Two">
                            <span style="font-size: 100%; color: blue;font-family: 'Roboto Condensed'"><b>INGREDIENTS</b></span>
                            <div style="text-align:justify;font-family: 'Roboto Condensed'">Chicken Meal, Whole Grain Millet, Brown Rice, Grain Sorghum,
                            Turkey Meal, Chicken Fat (preserved with mixed Tocopherols),
                            Yeast Culture, Dehydrated Alfalfa Meal, Natural Flavor,
                            Flax Seed Meal, Potassium Chloride, Egg Product, Carrot
                            Powder, Tomato Pomace, Cranberry Powder, Blueberry Powder,
                            Taurine, Salt, Choline Chloride, Dried Seaweed Meal,
                            DL-Methionine, Zinc Methionine Complex, Vitamin E Supplement,
                            Hydrolyzed Yeast, Iron Amino Acid Complex, Calcium Carbonate,
                            Manganese Amino Acid Complex, Ferrous Sulfate, LCarnitine,
                            Selenium Yeast, Copper Sulfate, Niacin Supplement, Vitamin
                            B12 Supplement, D-Calcium Pantothenate, Vitamin A Supplement,
                            Thiamine Mononitrate, Biotin, Riboflavin Supplement,
                            Calcium Iodate, Pyridoxine Hydrochloride, Vitamin D3
                            Supplement, Powdered Cellulose, Brewers Dried Yeast,
                            Dried Enterococcus Faecium Fermentation Product, Dried
                            Aspergillus Oryzae Fermentation Extract, Dried Trichoderma
                            Longibrachiatum Fermentation Extract, Dried Bacillus
                            Subtilis Fermentation Extract, Silicon Dioxide, Tetra
                            Sodium Pyrophosphate, Vegetable Oil, Rosemary Extract,
                            Green Tea Extract, Spearmint Extract, Lecithin, Fructooligosaccharide,
                            Folic Acid, And Yucca Schidigera Extract.</div>
                            <br/><br/> GUARANTEED ANALYSIS<br/>

                            <dl class="slds-list_horizontal slds-wrap">
                                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Crude Protein Min</dt>
                                <dd class="slds-item_detail slds-truncate" title="Description for first label">24%</dd>
                                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Second Label">Crude Fat Min</dt>
                                <dd class="slds-item_detail slds-truncate" title="Description for second label">12%</dd>
                                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Second Label">Moisture Max</dt>
                                <dd class="slds-item_detail slds-truncate" title="Description for second label">9%</dd>
                            </dl>

                        </apex:tab>
                    </apex:tabPanel>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <!--<div class="slds-grid slds-gutters">-->
                <!--    <div class="slds-col" style="width: 30%">-->
                <!--        <img src="{!pro.Slick__Full_size_image__c}" style="width: 100%;" />-->
                <!--    </div>-->
                <!--    <div class="slds-col" style="width: 70%">-->
                <!--        <div class="slds-grid slds-gutters">-->
                <!--            <div class="slds-col" style="width: 70%;">-->
                <!--                <a href="" style="font-size: 120%;">{!pro.Name}</a><br/>-->

                <!--                <c:StarRatingVF value="3"/><br/><br/><br/> 11 Reviews<br/>-->

                <!--                <span style="font-size: 150%; color: red;">$19.99</span><br/>-->

                <!--                <span style="font-size: 140%; color: red;"> BUY MORE / SAVE MORE </span><br/>-->
                <!--                <span style="font-size: 140%;">FREE DELIVERY WITH $39.95 MIN ORDER</span>-->
                <!--                <br/><br/> For over 25 years this has been our top-selling-->
                <!--                product. Why? This chicken recipe is great for healthy-->
                <!--                adult maintenance. <br/>Can be fed to dogs of all-->
                <!--                life stages and all breeds.-->
                <!--                <br/><br/> TYPES OF PRODUCTS-->
                <!--            </div>-->
                <!--            <div class="slds-col" style="width: 30%;">-->

                                <!-- Add More and Add to cart -->
                <!--                <div style="width:100%;">-->
                <!--                    <div class="slds-grid slds-gutters">-->
                <!--                        <div class="slds-col">-->
                <!--                            <span class="slds-icon_container slds-icon-utility-dash" title="Description of icon when needed">-->
                <!--                                <svg aria-hidden="true" class="slds-icon_small">-->
                <!--                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" -->
                <!--                                        xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#dash">-->
                <!--                                    </use>-->
                <!--                                </svg>-->
                <!--                            </span>-->
                <!--                        </div>-->
                <!--                        <div class="slds-col" style="text-align: center;">-->
                <!--                            <apex:input style="text-align:center" />-->
                <!--                        </div>-->
                <!--                        <div class="slds-col">-->
                <!--                            <span class="slds-icon_container slds-icon-utility-add" title="Description of icon when needed">-->
                <!--                                <svg aria-hidden="true" class="slds-icon_small">-->
                <!--                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"-->
                <!--                                    xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#add">-->
                <!--                                    </use>-->
                <!--                                </svg>-->
                <!--                            </span>-->
                <!--                        </div>-->
                <!--                    </div><br/><br/>-->
                <!--                    <button class="slds-button slds-button_brand slds-large-size_3-of-3">Add to Cart</button>-->
                <!--                </div>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</div><br/>-->
                <!--<div>-->
                <!--    <apex:tabPanel switchType="client" selectedTab="name2" id="theTabPanel" tabClass="activeTab">-->
                <!--        <apex:tab label="OVERVIEW" name="name1" id="one">-->
                <!--            For over 25 years this has been our top-selling product. Why? Dogs love the flavor-->
                <!--            of chicken and brown rice. Your dog deserves the absolute-->
                <!--            best, which is why we only use fresh, all-natural, USA-->
                <!--            sourced ingredients. Feel confident in feeding Nature’s-->
                <!--            Select!--> 
                <!--            a meat concentrate and contains nearly 300% MORE protein-->
                <!--            than fresh chicken, which is why we use it in this recipe.-->
                <!--            Why use chicken fat? It’s a pure fat to use as a quality-->
                <!--            ingredient because it is high in linoleic acid and is-->
                <!--            an omega-6 fatty acid that is essential to a pet’s life!-->
                <!--            Why are we by-product free? By-Products &amp; poultry-->
                <!--            by-products contain animal parts other than meat including-->
                <!--            organs, brain, blood, bone, intestines, feet, etc. Nature’s-->
                <!--            Select Recipes contain absolutely NO by-products in our-->
                <!--            pet food.-->
                <!--        </apex:tab>-->
                <!--        <apex:tab label="PRODUCT INFORMATION" name="two" id="Two">-->
                <!--            <span style="font-size: 100%; color: blue;"><b>INGREDIENTS</b></span>-->
                <!--            Chicken Meal, Whole Grain Millet, Brown Rice, Grain Sorghum,-->
                <!--            Turkey Meal, Chicken Fat (preserved with mixed Tocopherols),-->
                <!--            Yeast Culture, Dehydrated Alfalfa Meal, Natural Flavor,-->
                <!--            Flax Seed Meal, Potassium Chloride, Egg Product, Carrot-->
                <!--            Powder, Tomato Pomace, Cranberry Powder, Blueberry Powder,-->
                <!--            Taurine, Salt, Choline Chloride, Dried Seaweed Meal,-->
                <!--            DL-Methionine, Zinc Methionine Complex, Vitamin E Supplement,-->
                <!--            Hydrolyzed Yeast, Iron Amino Acid Complex, Calcium Carbonate,-->
                <!--            Manganese Amino Acid Complex, Ferrous Sulfate, LCarnitine,-->
                <!--            Selenium Yeast, Copper Sulfate, Niacin Supplement, Vitamin-->
                <!--            B12 Supplement, D-Calcium Pantothenate, Vitamin A Supplement,-->
                <!--            Thiamine Mononitrate, Biotin, Riboflavin Supplement,-->
                <!--            Calcium Iodate, Pyridoxine Hydrochloride, Vitamin D3-->
                <!--            Supplement, Powdered Cellulose, Brewers Dried Yeast,-->
                <!--            Dried Enterococcus Faecium Fermentation Product, Dried-->
                <!--            Aspergillus Oryzae Fermentation Extract, Dried Trichoderma-->
                <!--            Longibrachiatum Fermentation Extract, Dried Bacillus-->
                <!--            Subtilis Fermentation Extract, Silicon Dioxide, Tetra-->
                <!--            Sodium Pyrophosphate, Vegetable Oil, Rosemary Extract,-->
                <!--            Green Tea Extract, Spearmint Extract, Lecithin, Fructooligosaccharide,-->
                <!--            Folic Acid, And Yucca Schidigera Extract.-->
                <!--            <br/><br/> GUARANTEED ANALYSIS<br/>-->

                <!--            <dl class="slds-list_horizontal slds-wrap">-->
                <!--                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">Crude Protein Min</dt>-->
                <!--                <dd class="slds-item_detail slds-truncate" title="Description for first label">24%</dd>-->
                <!--                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Second Label">Crude Fat Min</dt>-->
                <!--                <dd class="slds-item_detail slds-truncate" title="Description for second label">12%</dd>-->
                <!--                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Second Label">Moisture Max</dt>-->
                <!--                <dd class="slds-item_detail slds-truncate" title="Description for second label">9%</dd>-->
                <!--            </dl>-->

                <!--        </apex:tab>-->
                <!--    </apex:tabPanel>-->
                <!--</div>-->
            </apex:outputPanel>

        </apex:repeat>
    </apex:form>

    </html>
</apex:component>