<apex:component controller="reOrderPromptCommunication_Controller">
<!--<apex:attribute name="requestType" default="OneClick" type="String" assignTo="{!ROPType}" description="default type dont change"/>
<apex:outputpanel rendered="{!ROPSuccessBody!='null'}">
	<apex:outputText value="{!ROPSuccessBody}" escape="false"/>
</apex:outputpanel>
<apex:outputpanel rendered="{!ROPSuccessBody=='null'">
    <div class="fs_contentarea"> 
            <div style="padding:30px 20px 30px 120px"> 
                <apex:outputPanel >
                    <a href="mailto:alex@nschicago.com?subject=One Click Done Question"><img width="700" src="https://naturalpetfooddelivery.com/images/nschicago/OneClick.jpg"/></a>
                </apex:outputPanel>
            </div> 
     </div> 
 </apex:outputpanel>-->
</apex:component>